*.vcxproj
*.sln
*.sdf
*.filters
*.user
*.exp
*.lib
*.idb
*.pdb
*.cache
*.obj
*.deps
*.tlog
*.log
Debug/
x64/
.idea/
CMakeFiles/
VS2013/
CMakeCache.txt
CMakeLists.txt
Makefile
cmake_install.cmake
isosegmentation_gpu
